body {   
    margin: 0 auto;
    max-width: auto;
    font-family:cursive;
}

nav {
    background-color: #c71e1e;
    text-align: center;
}
    nav ul {
        display: inline-flex;
        list-style-type: none;
        font-size: 1.3vw;
        margin-right: 50px;
        
    }
        nav ul li {
            margin-left: 60px;
            margin-right: 60px;
            
        }
            nav ul li a {
                text-decoration: none;
                color: beige;
                font-family: cursive;
                font-weight: bold;
                text-shadow: 3px 3px 2px black;
                
            }
        
        nav ul li .ref1:hover, .ref2:hover, .ref3:hover, .ref4:hover, #activeref1, #activeref2, #activeref3, #activeref4 {
            background-color: #fff;
            color: black;
            font-weight: bold;
            padding: 10px;
            width: 10%;
            font-size: 1.5vw;
            border: 4px solid black;
            text-shadow: none;
            border-radius: 0 0 10px 10px;

        }

        

#image-container {
    overflow: hidden;
    text-align: left;
    color: white;
}
    #image-container img {
        margin: -150px 0 -250px 0;
        filter: brightness(35%);
    }
.centered-text {
    position: absolute;
    top: 25%;
    right: 55%;
    font-size: 50px;
    font-family: cursive;
    text-shadow: 8px 8px 3px black;
    margin-right: 300px;
    font-weight: bold;
    display: flex;
}
#image-container {
    overflow: hidden;
    position: relative;
    justify-content: left;
    width: 100%;
    height: auto;
}

#logo-container img {
   margin: -250px;
   margin-right: 350px;

}



#line{
    position: absolute;
    margin: 0 auto;
    color: black;
    background-color: black;
    border: none;
}
.article {
    flex-direction: column;
    width: 30%;
    background-color: #c71e1e;
    color: beige;
    font-size: 1vw;
    text-align: justify-all;
    font-family: cursive;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    border: 1px solid black;
    margin: 10px 0;
    
}
#article-box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.article p:first-letter{
    text-transform: uppercase;
    font-size: 2vw;
}
.article-heading-container{
    text-align: center;
}
#form-container {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    font-size: 20px;
}
    #form-container .inputbox {
        border: 2px solid black;
        border-radius: 20px;
        font-size: 15px;
        font-family: cursive;
        color: royalblue;
        font-weight: bold;
        text-justify: auto;
    }
        #form-container .inputbox:hover, textarea:hover {
            background-color: #d9d9d9;    
        }
#form-center {
    position: absolute;
    top: 0%;
    left: 25%;
    right: 25%;
    font-weight: bold;
}
form p{
    font-size: 12px;
}
#message{
    height: 50px;
}
#required{
    color: red;
}
fieldset {
    padding: 20px;
    border-radius: 15px;
    border: 2px solid beige;
    color: beige;
    backdrop-filter: blur(4px);
}
    
fieldset legend{
    font-size: 25px;
}
textarea {
    width: 95%;
    resize: none;
    font-size: 15px;
    font-family: cursive;
    color: royalblue;
    font-weight: bold;
    text-justify: auto;
    border: 2px solid black;
}
#sendbutton {
    width: 98%;
    height: 35px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-family: cursive;
    color: beige;
    font-weight: bold;
    background-color: royalblue;
}
#sendbutton:hover{
    background-color: dodgerblue;
}

#sent{
    font-size: 15px;
    text-align: center;
    
}
#sent{
    color: transparent;
}
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3c3d3c;
    text-decoration: none;
    text-align: center;
    border-top: 3px solid black;
    text-shadow: 2px 2px 1px black;
    font-size: 1vw;
}
footer ul{
    list-style-type: none;
}
footer ul li{

}
footer ul li a {
    color: lightgray;
    text-decoration: none;
}
#more-about-button{
    display: flex;
    justify-content: center;

}
#more-about-button a{
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    margin-bottom: 7px;
    border-radius: 10px;
    font-size: 1vw;
    box-shadow: 2px 2px 4px black;
    
}
    #more-about-button a:hover {
       font-size: 1.21vw;
    }
.motorbike-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.article-images {
    width: auto;
    height: auto;
    margin-top: 50px;
    width: 50%;
    padding: 20px;

    
}
    .article-images img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        border: 3px solid black;
    }

.motorbike-article-text {
    width: 50%;
    font-size: 1vw;
    float: right;
    text-justify: auto;
    
    
}
    .motorbike-article-text span {
        font-weight: bold;
        font-size: 1.11vw;
        
    }
.images-divider {
    background-color: black;
    color: black;
    border-radius: 10px;
}
#news-container{
    display: flex;
    min-height: 95vh;
    justify-content: center;

    
}
.news-container-box {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    
}
.news {
    height: fit-content;
    min-height: 380px;
    border: 4px solid #808080;
    display: block;
    margin-bottom: 5px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: justify-all;
    background-color: #f5f5f5;
}
.news img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px 4px 0px 0px;
    
}
#news-text{
    margin-left:5px;
}
.news span {
    font-size: 18px;
    font-weight: bold;
    color: #005799;
}
.news #news-text a{
    text-decoration: none;
}
    .news #news-text a:hover {
        text-decoration: underline;
        text-decoration-color: #005799;
    }
.news p{
    font-size: 13px;
    font-weight:500;
}
#table-container{
    display: flex;
    justify-content: center;
    min-height: 50vh;
}
#table {
    border: 3px solid darkred;
    width: 60%;
    border-radius: 40px 40px 0px 0px;
}
table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: beige;
    text-shadow: 2px 2px 1px black;
}
tr {
    border-bottom: 3px solid darkred;
}

#table th {
    color: beige;
    font-size: 25px;
}
#table #model{
    border-top-left-radius: 35px;
}
#table #speed {
    border-top-right-radius: 35px;
}
table tr:nth-child(2n+1) {
    background-color: #c71e1e;
}
table tr:nth-child(2n+2) {
    background-color: #f05751;
}
.models img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.models {
    display: flex;
    justify-content: center;
}








    



